.Hide {
  display: none;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.navigation {
  width: 100%;
  height: 125px;
  background-color: #221177;

  & ul {
    list-style-type: none;
    display: flex;
    margin-left: 14%;
    align-items: flex-end;
    position: relative;
    top: 20%;

    & li {
      margin-left: 5%;
    }
  }

  & a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;

    &:hover {
      color: #f4f4f4;
      box-shadow: 0 2px 0 0 white;
      transition: box-shadow 150ms ease-in;
    }
  }
}

.logoLi {
  position: relative;
  bottom: 7px;
}

.logo {

  & img {
    width: 80px;
    cursor: pointer;
  }
}

.notificationsLi {
  position: relative;
  left: 19%;
}

.notifications {

  & img {
    width: 40px;
    cursor: pointer;
  }
}

.loginLi {
  position: relative;
  left: 19%;
}

.login {

  & img {
    width: 40px;
    cursor: pointer;
  }
}

.registerSection {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.registerPop {
  width: 35%;
  height: 550px;
  background-color: #ffffff;
  position: fixed;
  top: 90px;
  z-index: 1;
  display: flex;
  justify-content: center;

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &Image {
    width: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }

  &Title {
    text-align: center;
    font-size: 35px;
    margin-top: 6%;
  }

  &SubTitle {
    text-align: center;
    color: #8F8F90;
  }

  &Form {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width: 64%;

    & input {
      margin-top: 5%;
      border: none;
      outline-width: 0;
      padding: 3%;
      font-size: 12px;
      transition: box-shadow 150ms ease-out;

      &::placeholder {
        font-size: 12px;
      }

      &:focus {
        box-shadow: 0 2px 0 0 #0DACF1;
        transition: box-shadow 300ms ease-in;
        outline-width: 0;
      }
    }
  }

  &Submit {
    height: 45px;
    background-color: #0DACF1;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: #2eb7f2;
      box-shadow: 0 2px 0 0 #0DACF1;
      transition: box-shadow 150ms ease-in;
      cursor: pointer;
    }
  }

  &Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F7;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;

    &Text {
      margin-right: 5%;
      margin-top: 4%;
    }

    &Button {
      width: 20%;
      height: 50%;
      outline-width: 0;
      border: none;
      background-color: #FFFFFF;
      cursor: pointer;

      &:hover {
        background-color: #fcfcfc;
        box-shadow: 0 2px 0 0 #0DACF1;
        transition: box-shadow 150ms ease-in;
      }
    }
  }
}
