
.formWrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.todo {
  display: flex;
  flex-direction: column;
  width: 40%;

  & label {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }

  & input {
    padding: 5px;
  }

  &TitleInput {

  }

  &DescText {
    padding: 10px;
  }
}

.todoWrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  &Submit {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #c0bfc1;
    box-sizing: none;
    border: #c0bfc1;
    cursor: pointer;

    &:hover {
      background-color: #ccccce;
    }
  }
}

.todomainsection {
  display: flex;
  justify-content: center;
}

.todosection {
  height: 200px;
  width: 40%;
  flex-direction: column;
  display: flex;
  border-top: solid 1px black;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 17px 0px;
  overflow: auto;
}

.todostitle {
  display: flex;
  justify-content: center;
  margin: 5% 1% 1% 1%;
}

.list-group {
  border-collapse: collapse;
  width: 99%;
}

.list-group-item {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f2f2f2;
}
